---
import { getI18n } from "../components/i18n/index";

const {currentLocale} = Astro;
const i18n = getI18n({currentLocale});

---
<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div class="text-pretty">
    <p>
      {i18n.basics.greetingAbout} <strong class="text-pretty text-sky-400/90"
        > {i18n.basics.summary1}</strong
      >.
    </p>

    <p >
      {i18n.basics.summary2} 
      <strong class=" text-sky-400/90">{i18n.basics.summary3}</strong>
    </p>

    <p>
      {i18n.basics.summary4}
    </p>
  </div>

  <img
    width="200"
    height="200"
    src={i18n.basics.image}
    alt="Foto Andres Cardenas"
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<style>
  p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: white;
  }

</style>
