---
import ExperienceItem from "./ExperienceItem.astro"

import { getI18n } from "../components/i18n/index";

const {currentLocale} = Astro;
const i18n = getI18n({currentLocale});

const EXPERIENCIE = [
  {
    date: `${i18n.work.startDate1} -- ${i18n.work.endDate1}`,
    title:`${i18n.work.position1} -- ${i18n.work.name1}`,
    description:`${i18n.work.summary1}`,    
  },
  {
    date: `${i18n.work.startDate2} -- ${i18n.work.endDate2}`,
    title:`${i18n.work.position2} -- ${i18n.work.name2}`,
    description:`${i18n.work.summary2}`,  
  },
  {
    date: `${i18n.work.startDate3} -- ${i18n.work.endDate3}`,
    title:`${i18n.work.position3} -- ${i18n.work.name3}`,
    description:`${i18n.work.summary3}`, 
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }  
</ol>
