---
import GithubIcon from "./icons/GithubIcon.astro";
import Html from "./icons/Html.astro";
import Docker from "./icons/Docker.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Typescript from "./icons/Typescript.astro";
import NodeJS from "./icons/NodeJS.astro";
import Expres from "./icons/ExpresJS.astro";
import JavaScrip from "./icons/JavaScrip.astro";
import Css from "./icons/Css.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import LinkButton from "./LinkButton.astro";


const TAGS = {
  HTML:{
    name: 'HTML',
    class: 'bg-black text-white',
    icon: Html,
  },
  CSS:{
    name: 'CSS',
    class: 'bg-blue-500 text-white',
    icon: Css,
  },
  JavaScrip:{
    name: 'JavaScrip',
    class: 'bg-yellow-500 text-white',
    icon: JavaScrip,
  },
  Expres:{
    name: 'Expres',
    class: 'bg-green-500 text-white',
    icon: Expres,
  },
  Docker:{
    name: 'Docker',
    class: 'bg-blue-500 text-white',
    icon: Docker,
  },
  Astro:{
    name: 'Astro',
    class: 'bg-black text-white',
    icon: AstroIcon,
  },
  NodeJS:{
    name: 'NodeJS',
    class: 'bg-green-500 text-white',
    icon: NodeJS,
  },
    
}



const PROJECTS =[
  {
    title: 'Generador de Conecutivos',
    description: ' Desarrollo de una aplicación web destinada a gestionar de manera eficiente los consecutivos de las comunicaciones oficiales en nuestra empresa. La aplicación cuenta con un sólido sistema de control de acceso a través del Directorio Activo, garantizando así la seguridad y privacidad de la información. todo desplegado en Docker',
    Github:"https://github.com/AsambleaCoopUN/Generador-De-Consecutivos",
    image: "https://lh3.googleusercontent.com/pw/ABLVV86k7dw0glb0EP9L8FAhkfEA2uE95MCNH6ermcS_JmKPUSelWdUV8rsJpx_KViuaAZ2NlpqQttuLVfTpCkWGFbarfvWAUHQNrnkZdKeJXOT8_AJrNA=w2400",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScrip, TAGS.Expres,TAGS.NodeJS,TAGS.Docker]
  },
  {
    title: 'Portafolio minimalista',
    description: ' Portafolio minimalista desarrollado con Astro, Tailwind y Typescript, diseñado para ser extremadamente sencillo y listo para imprimir, ofreciendo una presentación limpia y profesional de los proyectos y sigueindo las bases del tutorial de Midudev, y adecuandolo a un perfil de una psicologa de seleccion.',
    Github:"https://github.com/AndresMCardenas/porfolio-edna-abril",
    image: "https://lh3.googleusercontent.com/pw/ABLVV85PSDrgppPothOekK9heJ3DkJ8m0QAoGMorxckLgzG8A95uVSJcfAq2NgnKtfoBKCsSjTgkLumocclwhWe4qhbYX3AKPWCbUOYt2-77li1Lu8f1pQ=w2400",
    link:"https://edna-abril-cv.vercel.app/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.Astro]
  }
]
---

{
  PROJECTS.map(({title, description, tags, image, Github, link}) => (
    <article>
      
      <h3 class="text-2xl font-semibold text-yellow-200/80 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty  ">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-4">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="size-4"/> 
              {tag.name}
            </span> 
          </li>
        ))}
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/25 gap-y-4" 
        src= {image}
        alt={`Captura de pantalla del proyecto`}>
      </img>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
        {Github && (
          <LinkButton href={Github}>
            <GithubIcon class="size-4"/>
            GitHub              
          </LinkButton>)
        }
        {link && (
          <LinkButton href={link}>
            <React class="size-4"/>
            Ver Proyecto              
          </LinkButton>)
        }    
      </footer>

    </article>
  ))
}
