---
import GithubIcon from "./icons/GithubIcon.astro";
import Html from "./icons/Html.astro";
import Docker from "./icons/Docker.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Typescript from "./icons/Typescript.astro";
import NodeJS from "./icons/NodeJS.astro";
import Expres from "./icons/ExpresJS.astro";
import JavaScrip from "./icons/JavaScrip.astro";
import Css from "./icons/Css.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import LinkButton from "./LinkButton.astro";

import { getI18n } from "../components/i18n/index";

const {currentLocale} = Astro;
const i18n = getI18n({currentLocale});


const TAGS = {
  HTML:{
    name: 'HTML',
    class: 'bg-black text-white',
    icon: Html,
  },
  CSS:{
    name: 'CSS',
    class: 'bg-blue-500 text-white',
    icon: Css,
  },
  JavaScrip:{
    name: 'JavaScrip',
    class: 'bg-yellow-500 text-white',
    icon: JavaScrip,
  },
  Expres:{
    name: 'Expres',
    class: 'bg-green-500 text-white',
    icon: Expres,
  },
  Docker:{
    name: 'Docker',
    class: 'bg-blue-500 text-white',
    icon: Docker,
  },
  Astro:{
    name: 'Astro',
    class: 'bg-black text-white',
    icon: AstroIcon,
  },
  NodeJS:{
    name: 'NodeJS',
    class: 'bg-green-500 text-white',
    icon: NodeJS,
  },
  Tailwind:{
    name: 'Tailwind',
    class: 'bg-blue-500 text-white',
    icon: Tailwind,
  },
  Typescript:{
    name: 'Typescript',
    class: 'bg-blue-500 text-white',
    icon: Typescript,
  },
    
}

const PROJECTS =[
  {
    title: `${i18n.projects.title1}`,
    description: `${i18n.projects.description1}`,
    Github:`${i18n.projects.github1}`,
    image: `${i18n.projects.image1}`,
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScrip, TAGS.Expres,TAGS.NodeJS,TAGS.Docker]
  },
  {
    title: `${i18n.projects.title2}`,
    description: `${i18n.projects.description2}`,
    Github:`${i18n.projects.github2}`,
    image: `${i18n.projects.image2}`,
    link:`${i18n.projects.link2}`,
    tags: [TAGS.HTML, TAGS.CSS, TAGS.Astro, TAGS.Tailwind, TAGS.Typescript]
  }
]
---

{
  PROJECTS.map(({title, description, tags, image, Github, link}) => (
    <article>
      
      <h3 class="text-2xl font-semibold text-yellow-200/80 mb-2 pb-4 py-10">{title}</h3>
      <p class="text-lg mb-4 text-pretty  ">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-4">
        {tags.map((tag) => (
          <li>
            <span class={`${tag.class} flex-wrap py-1 px-2`}>
              <tag.icon class="size-5"/> 
              {tag.name}
            </span> 
          </li>
        ))}
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/25 gap-y-4" 
        src= {image}
        alt={`Captura de pantalla del proyecto`}>
      </img>
      <footer class="flex items-end justify-start mt-4 gap-x-4 flex-grow">
        {Github && (
          <LinkButton href={Github} >
            <GithubIcon class="size-4"/>
            GitHub              
          </LinkButton>)
        }
        {link && (
          <LinkButton href={link} >
            <React class="size-4"/>
            {i18n.verproject}              
          </LinkButton>)
        }    
      </footer>

    </article>
  ))
}

<style>
  article span{
    display: flex;
    column-gap: 0.5rem;
    font-size: 0.90rem;
    line-height: 1rem;
    border-radius: 9999px;
    align-items: center;
  }

</style>